certifi==2018.8.24
cffi==1.14.0
Django==1.11.28
django-bootstrap3==12.0.3
django-braces==1.14.0
Faker==4.0.2
gunicorn==20.0.4
Pillow==7.1.2
psycopg2==2.8.5
pycparser==2.20
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
text-unidecode==1.3
whitenoise==5.0.1
wincertstore==0.2
